<!doctype html>
<title>Formula 1</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<script>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  var races = {{ g.races|safe }};
  var raceGraph = {{ g.raceGraph|safe }};
  var driverPoints = {{ g.driverPoints }};
</script>
<nav>
  <h1>Formula 1</h1>
</nav>
<section class="content">
  <div class="flex-grid-thirds">
      <div class="col">
          <div>
              <h1 id="raceName" style="font-family:sans-serif;color:whitesmoke;"></h1>
              <div id="position_order_container" class="svg-container"></div>
          </div>
      </div>
      <div class="col">
          <div>
              <h1 style="font-family:sans-serif;color:whitesmoke;">Bahrain Formula 1 Grand Prix, 2017</h1>
              <div id="race_graph_container"></div>
              <span class="legend">M = mechanical failure | P = pit stop | X = accident |  <span
        class="safety">safety-car deployed</span> | <span class="lapped">lapped</span> | Mouse click to focus on a lap</span>
          </div>
      </div>
      <div class="col">
          <div id="chart" style="height:600px;width:600px">
          <div class="innerCont" style="overflow: auto; top:100px; left: 400px; height:91% ; Width:100% ;position: relative;overflow: hidden;"></div>
          </div>
      </div>
    </div>
</section>
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/racegraph.js') }}"></script>
  <script src="{{ url_for('static', filename='js/positionorder.js') }}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js"></script> -->
<!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script> -->
